@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Berkshire+Swash&family=Bungee+Shade&family=Caveat&family=Croissant+One&family=Dancing+Script&family=Itim&family=Londrina+Outline&family=Monoton&family=Paprika&family=Princess+Sofia&family=Sacramento&family=Sofia+Sans+Extra+Condensed:wght@100&family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Averia Serif Libre', cursive;;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: white;
    margin-bottom: 2rem;
}
nav{
    display: flex;
    width: 84%;
    margin-left: 100px;
    align-items: center;
    justify-content: space-between;
    
}
nav .logo{
    width: 130px;
}
nav ul li{
    display: inline;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
/* pseudo class
selector:pseudo-class name{property:value}
*/
nav ul li a:hover{
    color: red;
}
.title{
    margin-left: 8%;
    margin-top: 13%;
}
.title h1{
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
}
.title span{
    color: orange;
    font-size: 50px;
}
.title p{
    color: #555;
    line-height: 22px;
}
.title a{
    background-color: black;
    padding: 10px 18px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 30px;
     
}
.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s,left 1s;
}
.images:hover .shape{
    bottom: 70px;
}
.images:hover .girl{
    left: 40%;
}
#about{
    margin-left: 8%;
    margin-top: 13%;
    margin-right: 8%;
}
.heading{
    text-align: center;
}
.heading h2{
    font-size: 30px;
}
.heading span{
    font-size: 20px;
    color: green;
}
.about-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    margin-top: 2rem;
}
.about-img img{
    width: 80%;
    border-radius: 0.5rem;
    
}
.about-text{
    font-size: 18px;
    font-weight: 400;
    text-align: justify;

}
.informations{
    margin: 1rem 0 1.4rem;
}
.informations .info-box{
    display: flex;
    align-items: center;
    text-align: justify;
}
.informations .info-box span{
    font-weight: 400;
    margin-left: 10px;
}
html{
    scroll-behavior: smooth;
}
#skill{
    margin-left: 8%;
    margin-top: 8%;
    margin-right: 8%;

}
.skill-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}
.skill-img img{
    width: 80%;
    object-position: center;
    padding-left: 4rem;

}
.bar-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 1rem;

}
.bar-box h3,span{
    font-size: 1.1rem;
    font-weight: 500;
}
.light-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background-color: rgb(122, 19, 126);
    border-radius: 0.5rem;
}
.percent-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background-color: rgb(219, 83, 219);
    border-radius: 0.5rem;

}
.html-bar{
    width: 94%;
}
.css-bar{
    width: 84%;
}
.js-bar{
    width: 90%;
}
.react-bar{
    width: 94%;
}
#contact{
    margin-left: 8%;
    margin-top: 8%;
    margin-right: 8%;
}
.iconDiv{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;

}
.icon i{
    font-size: 20px;

} 
.icon:hover{
    background-image: linear-gradient(180deg, red, yellow);
    color: aliceblue;
}  
footer{

    margin: 2rem 0 ;
}
.up-arrow{
    float: right;
    margin: 1rem 2rem;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, red, yellow);
    
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: aliceblue;

}
::-webkit-scrollbar-thumb{
    background-color: orange;
    border-radius: 10px;
}